.header {
  max-width: 880px;
  margin: 0 auto 40px auto;
  padding: 45px 0 0 0;

  overflow: hidden;

  font-size: 0;

  border-bottom: 1px solid #545454;;
}

@media screen and (max-width: 881px) {
  .header {
    padding-top: 28px;
  }
}